input[type="file"] {
    display: none;
}

.upload {
    display: flex;
    align-items: center;
}
.upload button {
    height: 3.5rem;
    margin-left: 1rem;
}

.custom-file-upload {
    margin-top: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.indicator {
    float: right;
    color: lightgreen;
}

.img-preview {
    width: 5rem;

}